
<mat-toolbar color="primary">
    CRA Generator
  </mat-toolbar>
  <h2>Générer votre compte rendu d'activités en quelques minutes avec CRA Generator</h2>
  <p>
    <div [formGroup]="craForm">
      <mat-form-field class="example-form">
          <mat-label>Taux journalier moyen</mat-label>
          <input formControlName="tjm" type="number" matInput placeholder=" " >
        </mat-form-field>
    </div>
  <p>
    <div [formGroup]="craForm">
      <mat-form-field class="example-form">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput placeholder="Ex. une petite description ..."></textarea>
        </mat-form-field>
    </div>
  <form [formGroup]="craForm" (ngSubmit)="genererCraPdf(craForm.value)" class="example-form">
    <div formArrayName="lignes" *ngFor="let ligne of lignes.controls; index as i">
        <div [formGroupName]="i">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <th>
                  <mat-form-field class="example-form">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input formControlName="dateDebut" matStartDate placeholder="dateDebut">
                      <input formControlName="dateFin" matEndDate placeholder="dateFin">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field class="example-full-width">
                    <mat-label>Heures travaillées</mat-label>
                    <input formControlName="heuresTravail" type="number" matInput placeholder="0.00" value="0.00">
                  </mat-form-field>
                </th>
              </tr>
            </table>
        </div>
    </div>
  </form>
  <button mat-flat-button color="primary" class="example-form" (click)="genererCraPdf(craForm.value)">Générer CRA en Pdf</button>

    
  
     
    
    
