
  .example-form {
    min-width: 200px;
    max-width: 750px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-form-field {
    margin-right: 10px;
  }
  .jour-ferie {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    max-width: 750px;
    width: 100%;
  }
  
  .jour-ferie-date {
    font-weight: bold;
  }
  
  .jour-ferie-name {
    color: #888;
  }
  .container{
    display: flex;
  }
  .form-container{
    flex: 1;
    margin-right: 10px;
  }
  .jourF-container{
    flex: 1;
    margin-right: 20px;
  }
  .example-form, .jour-ferie{
    box-sizing: border-box;
  }
 
  



  
  
  